button {
  @apply cursor-pointer;
}

#app-main {
  @apply w-screen h-screen flex flex-row justify-center items-center;
}

#container {
  @apply fixed bottom-0 w-screen flex flex-col justify-center items-center
    bg-neutral-50 dark:bg-neutral-700
    transition-colors ease-in-out duration-100
    select-none;
  height: calc(100vh - 2rem);

  .container-scroller {
    @apply w-full;
    height: calc(100vh - 2rem);
  }
}

.view-home,
.view-settings {
  @apply relative w-full h-full
  z-0 transition-colors ease-in-out duration-100;
}

.view-home {
  @apply w-full h-full min-h-screen flex flex-col items-center justify-center;

  .title {
    @apply w-fit h-full text-2xl font-semibold;
  }
}

.view-settings {
  @apply w-full h-full flex flex-col items-center justify-start py-8 gap-12;

  .setting-item-group {
    @apply max-w-96 w-full flex flex-col justify-center items-start gap-8 not-last:pb-12
    not-last:border-b border-dashed border-neutral-400 dark:border-neutral-500
    transition-colors ease-in-out duration-100 delay-0;

    .group-info {
      @apply w-full inline-flex flex-col justify-center items-start gap-1
      transition-colors ease-in-out duration-100 delay-0;

      .title {
        @apply font-black text-2xl;
      }
      .description {
        @apply font-normal text-sm opacity-60;
      }
    }
    .group-main {
      @apply w-full flex flex-col justify-center items-center gap-4;
    }
  }

  .setting-item {
    @apply w-full flex flex-col justify-center items-start gap-1;

    .title {
      @apply text-lg;
    }
    .description {
      @apply font-normal text-sm opacity-60;
    }

    .main:not(input) {
      @apply w-full inline-flex justify-between items-center gap-2 p-1
      transition-colors ease-in-out duration-100 delay-0;
    }
  }

  .setting-input-item {
    :not(span).main {
      @apply max-w-48;
    }
  }

  .setting-select-item {
    .trigger {
      @apply w-36;
    }
  }

  .setting-optional-item {
    span.main {
      @apply w-fit inline-flex items-center justify-center gap-2;
    }
  }
}
